.btn-delete {
  background-color: tomato;
  color: white;
}

.btn-add {
  background-color: green;
  color: white;
}

.btn-delete:hover {
  color: white;
}

.btn-add:hover {
  color: white;
}

.btn-warning {
  color: white;
}

.navbar {
  .navbar-brand {
    color: $primary-color;
  }
}

.infoTab {
  background-color: tomato;
}

.outputBox {
  max-height: 200px;
  overflow: auto;
}

.profile-field {
  border-right: 5px solid $primary-color;
}

.profile-value {
  padding-left: 50px;
}

.profile-div {
  padding-bottom: 40px;
}

.nav-item {
  margin-left: 20px;
}

.field-error {
  border-color: tomato;
  border-style: solid;
}

#page-control {
  margin-top: 30px;
  margin-bottom: 20px; 
  border: solid black;
  border-width: 1px 0px;
  padding: 5px 5px;
}

#currentPage {
  border-color: orange;
  border-style: solid;
}

main {
  min-height: calc(100vh - 125.5px);
}

footer {
  border-top: 5px solid $secondary-color;
  height: 60px;
  padding-top: 10px;
  background-color: $primary-color;

  p {
    margin-right: 20px;
    color: $secondary-color;

    a {
      color: $secondary-color;
    }
  }
}

@media screen and (min-width: 800px) {
  /* main {
    min-height: calc(100vh - 125.5px);
  }  */      
}


@media screen and (min-width: 720px) {
  .p-footer {
    font-size: 100%;
  }
}

@media screen and (min-width: 420px) {
  .p-footer {
    font-size: 90%;
  }
}

@media screen and (min-width: 320px) {
  .p-footer {
    font-size: 80%;
  }
}

@media screen and (max-width: 319px) {
  .p-footer {
    font-size: 70%;
  }
}

@media screen and (max-width: 250px) {
  .p-footer {
    font-size: 60%;
  }
}
