$primary-color: orange;
$secondary-color: lightgray;

.space-top {
  margin: 30px 0px 0px;
}

.fig-res {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.img-res {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#left-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
}

#right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
}


label.custom-control {
  span.custom-control-indicator {
    background-color: $primary-color;
  }
}

.container {
  margin-top: 10px;
}

.small-card {
  border-width: 0px;
  width: 100%;
}

.card-body {
  p.card-text {
    max-width: 500px;
  }
}

img {
  border-radius: 3px;
}

button {
  background-color: $primary-color;
  border-color: &primary-color; 
  color: white;
}

@import 'nav-main-footer';