$primary-color: orange;
$secondary-color: lightgray;

#advancedSearchFrame {
  margin-top: 20px;
}

#search-widget {
  width: 200px;
}

.card-center {
  border-width: 0px;
}

.card-center:hover {
  border-width: 1px;
  background-color: ghostwhite;
}

.grp-btn {
  margin-left: 25px;
  width: 100px;
  margin-top: 5px;
}

.grp {
  margin: 10px;
}

.navbar-item {
  padding-left: 20px;
}

.form-control-sm {
  max-width: 400px;
}

h3 {
  color: $primary-color;
}

form {
  margin: 30px;

  span.input-group-addon {
    padding: 0px;

    button {
      border-radius: 0px;
      border-style: none;
    }
  }
}

button {
  background-color: $primary-color;
  border-color: $primary-color; 
  color: white;

  a {
    color: white;
  }
}

.btn-link {
  color: $primary-color;
}

main {
  margin: 0px 0px;
}

@import 'nav-main-footer';
