$primary-color: orange;
$secondary-color: lightgray;

*, a {
  margin: 0px;
}

.tab-btn {
  background-color: white;
  width: auto;
  color: $primary-color;
  margin: 20px 0px;
  border: 0px;
}

@media screen and (max-width: 715px) {
  #side-bar {
    width: auto;
  }

  .tab-btn {
    margin: auto;
    .tab-btn-descrip {
      display: none;
    }
  }
}

button {
  background-color: $primary-color;
  border-color: $primary-color; 
  color: white;
}

form {
  .btn {
    background-color: $primary-color;
    color: white;
    border: $primary-color;
  }
}


@import 'nav-main-footer';