$primary-color: orange;
$secondary-color: lightgray;

.navbar {
  .navbar-brand {
    color: $primary-color;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.carousel-image {
  height: 400px;
  margin: 10px;
}

.search-form {
  margin: 30px;
}

main {
  padding-bottom: 20px;
}

.navbar-item {
  padding-left: 20px;
}

#caro-div {
  margin-top: 50px;
  border: 1px, solid;
  max-width: 720px;
}


.search-widget {
  min-width: 100px;
  height: 60px;
  border-color: $primary-color;
}

.search-toggle {
  padding: 5px;
  color: $primary-color;
  background-color: white;
  border: 0.1px $primary-color solid;
  border-radius: 3px;
}

.space-top {
   margin-top: 20px;
}

.div-price-range {
  div {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0px;

    div {
      padding-left: 20px;

      div {
        input {
          max-width: 100px;
        }
      }
    }
  }
}

#reset-btn {
  margin-top: 30px;
}

button {
  background-color: $primary-color;
  border-color: $primary-color; 
  color: white;
}

@import 'nav-main-footer';
