@import 'modal';

$primary-color: orange;

a {
  color: $primary-color;
}

h2 {
  color: $primary-color;
}

.board {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .board {
    width: 60%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 720px) {
  .board {
    width: 96%;
    margin-top: 5px;
  }
}

.navbar.navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

button {
  background-color: $primary-color;
  border-color: $primary-color; 
  color: white;
}


.form-group {
  margin: 30px 20px;

  button {
    margin-top: 20px;
    margin-left: 0px;
  }

  p {
    margin-top: 5px;
  }
}
