<!doctype html>
<html lang="en">
    <head>
        <title>Centers</title>

    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
        <!-- Fontawesome -->
        <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="./styles/centers.css">
    

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-big">
            <a class="navbar-brand" href="#">EM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item nav-element">
                        <a class="nav-link" href="#">Event centers</a>
                    </li>
                    <li class="nav-item dropdown nav-element">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company
                        </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">About</a>
                        <a class="dropdown-item" href="#">Team</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Contact</a>
                    </div>
                    </li>

                    <li class="nav-item dropdown nav-element">
                        <a class="nav-link  btn btn-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Manage my Events</a>
                            <a class="dropdown-item" href="#">Add Events</a>
                            <a class="dropdown-item btn disabled" href="#" >All Centers</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container">
            <form style="margin: 30px;">
                <div class="form-row">
                    <div class="col-7 input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon" id="basic-addon1" style="padding: 0px;">
                            <button type="submit" class="btn btn-primary" style="border-radius:0px; border-style:none">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>        
                        </span>
                    </div>
                    <button type="button" class="btn btn-link" onclick="toggleAdvancedSearch()">Advanced settings</button>            
                </div>
                <div id= "advancedSearchFrame" hidden>
                <div class="form-row mx-auto">
                    
                    <div class="form-group col-md-4">
                        <label for="searchCountry" class="form-label-sm">Country</label>
                        <input type="text" class="form-control form-control-sm" id="searchCountry" placeholder="Nigeria" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="searchState" class="form-label-sm">State</label>
                        <input type="text" class="form-control form-control-sm" id="searchState">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="searchCity" class="form-label-sm">City</label>
                        <input type="text" class="form-control form-control-sm" id="searchCity">
                    </div>
                </div>
                <div class="row container">
                    <div class="form-group card col-sm-6" style="padding: 5px;">
                        <label for="searchPrice"><h6>Price Range</h6></label>
                        <div class="form-row" id="searchPrice" style="padding-left:20px; padding-right:20px;">
                            <div class="form-group col-6">
                                <label for="searchPriceLower" class="form-label-sm">From</label>
                                <input type="text" class="form-control form-control-sm" id="searchPriceLower" style="max-width: 100px;">
                            </div>
                            <div class="form-group col-6">
                                <label for="searchPriceUpper" class="form-label-sm">To</label>
                                <input type="text" class="form-control form-control-sm" id="searchPriceUpper" style="max-width: 100px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="searchCapacity" class="form-label-sm">Capacity</label>
                        <input type="text" class="form-control form-control-sm col-md-4" id="searchCapacity">
                    </div>
                </div>
                
                <button class="btn" type="reset">Reset</button>
                </div>
                
            </form>

            

            <div class="container">
                <div class="card mx-auto card-center">
                    <div class="card-body">
                        <h4 class="card-title">Center Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Center address</h6>
                        <p class="card-text">Description....</p>
                        <div class="d-flex flex-wrap justify-content-end grp">
                            <a href="./add-event.html">
                                <button type="button" class="btn btn-primary grp-btn">Add Event</button>
                            </a>
                            <a href="./add-center.html">
                                <button type="button" class="btn btn-primary grp-btn disabled">Edit</button>
                            </a>
                            <button type="button" class="btn btn-danger grp-btn disabled" href="#">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="card mx-auto card-center">
                    <div class="card-body">
                        <h4 class="card-title">Center Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Center address</h6>
                        <p class="card-text">Description....</p>
                        <div class="d-flex flex-wrap justify-content-end grp">
                            <button type="button" class="btn btn-primary grp-btn">Add Event</button>
                            <button type="button" class="btn btn-primary grp-btn disabled">Edit</button>
                            <button type="button" class="btn btn-danger grp-btn disabled">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="card mx-auto card-center">
                    <div class="card-body">
                        <h4 class="card-title">Center Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Center address</h6>
                        <p class="card-text">Description....</p>
                        <div class="d-flex flex-wrap justify-content-end grp">
                            <button type="button" class="btn btn-primary grp-btn">Add Event</button>
                            <button type="button" class="btn btn-primary grp-btn disabled">Edit</button>
                            <button type="button" class="btn btn-danger grp-btn disabled">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="card mx-auto card-center">
                    <div class="card-body">
                        <h4 class="card-title">Center Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Center address</h6>
                        <p class="card-text">Description....</p>
                        <div class="d-flex flex-wrap justify-content-end grp">
                            <button type="button" class="btn btn-primary grp-btn">Add Event</button>
                            <button type="button" class="btn btn-primary grp-btn disabled">Edit</button>
                            <button type="button" class="btn btn-danger grp-btn disabled">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="card mx-auto card-center">
                    <div class="card-body">
                        <h4 class="card-title">Center Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Center address</h6>
                        <p class="card-text">Description....</p>
                        <div class="d-flex flex-wrap justify-content-end grp">
                            <button type="button" class="btn btn-primary grp-btn">Add Event</button>
                            <button type="button" class="btn btn-primary grp-btn disabled">Edit</button>
                            <button type="button" class="btn btn-danger grp-btn disabled">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="card mx-auto card-center">
                    <div class="card-body">
                        <h4 class="card-title">Center Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Center address</h6>
                        <p class="card-text">Description....</p>
                        <div class="d-flex flex-wrap justify-content-end grp">
                            <button type="button" class="btn btn-primary grp-btn">Add Event</button>
                            <button type="button" class="btn btn-primary grp-btn disabled">Edit</button>
                            <button type="button" class="btn btn-danger grp-btn disabled">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            const searchFrame = document.getElementById('advancedSearchFrame');
            let bol = false;
            function toggleAdvancedSearch() {
                bol = !bol
                searchFrame.hidden = bol;
            }
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    </body>
</html>