<!doctype html>
<html lang="en">
  <head>
    <title>EM centers</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./styles/index.css">


    

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-big" >
        <a class="navbar-brand" href="#" style="color:orange">EM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item navbar-item mx-auto">
                  <a class="nav-link" href="./signup.html"style="color:orange">Sign up</a>
                </li>
                <li class="navbar-item">
                  <a class="nav-link btn btn-light" href="signin.html"style="color:orange">Log in</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        
    </main>

    <footer style="height: 50px; background-color:orange; padding-top:10px;" class="d-flex justify-content-end">
    <p style="margin-right:20px;"> <a href="#" style="color:lightgray">About us</a> </p>
    <p style="margin-right:20px; color:lightgray">EM@gmail.com </p>
    <p style="margin-right:20px; color:lightgray">(+234)818 154 6011</p>
    </div>
    </footer>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>