.navbar-item {
    padding-left: 20px;
}

button {
    background-color: orange;
    border-color: orange; 
    color: white;
}

footer {
    border-top: 5px solid lightgray;
}


nav {
}

footer {
    height: 60px;
    padding-top: 10px;
}

main {
    min-height: calc(100vh - 116px);
}

.section-group {
    margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
    main {
        min-height: calc(100vh - 118px);
    }        
    form {
        width: 60%;
    }
    .main-container {
        width: 70%
    }
}


@media screen and (min-width: 720px) {
    .p-footer {
        font-size: 100%;
    }
    .main-form {
        width: 70%
    }
}

@media screen and (min-width: 420px) {
    .p-footer {
        font-size: 90%;
    }
    .main-form {
        width: 90%;
    }
}

@media screen and (min-width: 320px) {
    .p-footer {
        font-size: 80%;
    }
    .main-form {
        width: 100%;
    }
    
}

@media screen and (max-width: 319px) {
    .p-footer {
        font-size: 70%;
    }
    .main-form {
        width: 100%;
    }
}

@media screen and (max-width: 250px) {
    .p-footer {
        font-size: 60%;
    }
}
