
@media screen and (min-width: 720px) {
  
}

@media screen and (min-width: 800px) {
    #main-div {
        padding-left: 150px;
        padding-right: 150px; 
    }
  }

.location-widget {
    margin-left: 5px;
}

.grp {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
}

.nav-element {
    padding-left: 30px;
}

.grp-btn {
    margin-left: 25px;
    width: 100px;
}
