$primary-color: orange;
$secondary-color: lightgray;

@media screen and (min-width: 800px) {
  #main-container {
    padding-left: 100px;
    padding-right: 100px;
    width: 75%;
  }
}

main {
  padding: 30px;
}

h3 {
  color: $primary-color;
  margin-bottom: 20px;
}

.grp {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

.grp-btn {
  margin-left: 25px;
  width: 100px;
}

button {
  background-color: $primary-color;
  border-color: $primary-color; 
  color: white;
}

#main-container {
  padding: 20px 20px;
  margin-bottom: 30px;
}

.section-group {
  margin-bottom: 30px;
}

@import 'nav-main-footer';
