
@media screen and (min-width: 720px) {
  
}

@media screen and (min-width: 800px) {
    #main-div {
        padding-left: 150px;
        padding-right: 150px; 
    }
  }

.location-widget {
    margin-left: 5px;
}

.grp {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
}

.nav-element {
    padding-left: 30px;
}

.grp-btn {
    margin-left: 25px;
    width: 100px;
}

.navbar-item {
    padding-left: 20px;
}

button {
    background-color: orange;
    border-color: orange; 
    color: white;
}

footer {
    border-top: 5px solid lightgray;
}


nav {
}

footer {
    height: 60px;
    padding-top: 10px;
}

main {
    min-height: calc(100vh - 116px);
}


@media screen and (min-width: 800px) {
    main {
        min-height: calc(100vh - 118px);
    }        
}


@media screen and (min-width: 720px) {
    .p-footer {
        font-size: 100%;
    }
}

@media screen and (min-width: 420px) {
    .p-footer {
        font-size: 90%;
    }
}

@media screen and (min-width: 320px) {
    .p-footer {
        font-size: 80%;
    }
}

@media screen and (max-width: 319px) {
    .p-footer {
        font-size: 70%;
    }
}

@media screen and (max-width: 250px) {
    .p-footer {
        font-size: 60%;
    }
}
