*, a {
    margin: 0px;
}


.tab-btn {
    background-color: white;
    width: 100%;
    color: orange;
    margin: 20px 0px;
    border: 0px;
}

#tabContentContainer{
    margin: 30px 0px;
    width: 100%;
}

@media screen and (min-width: 900px) {
    #tabContentContainer{
        width: 90%;
        min-width: 600px;
    }
}

@media screen and (min-width: 720px) {
    #tabContentContainer{
        width: 80%;
        min-width: 400px;
    }
}
@media screen and (min-width: 420px) {
    #tabContentContainer{
        width: 90%;
        min-width: 300px;
    }
}






.tabSection {
    margin: 30px 0px 0px;

}

.navbar-item {
    padding-left: 20px;
}

button {
    background-color: orange;
    border-color: orange; 
    color: white;
}

footer {
    border-top: 5px solid lightgray;
}


nav {
}

footer {
    height: 60px;
    padding-top: 10px;
}

main {
    min-height: calc(100vh - 116px);
}


@media screen and (min-width: 800px) {
    main {
        min-height: calc(100vh - 118px);
    }        
}


@media screen and (min-width: 720px) {
    .p-footer {
        font-size: 100%;
    }
}

@media screen and (min-width: 420px) {
    .p-footer {
        font-size: 90%;
    }
}

@media screen and (min-width: 320px) {
    .p-footer {
        font-size: 80%;
    }
}

@media screen and (max-width: 319px) {
    .p-footer {
        font-size: 70%;
    }
}

@media screen and (max-width: 250px) {
    .p-footer {
        font-size: 60%;
    }
}
