.card-center {
    border-width: 0px;
}

.card-center:hover {
    border-width: 1px;
    background-color: ghostwhite;
}

.grp-btn {
    margin-left: 25px;
    width: 100px;
}

.grp {
    margin: 10px;
}

.nav-element {
    padding-left: 30px;
}