.card-center {
    border-width: 0px;
}

.card-center:hover {
    border-width: 1px;
    background-color: ghostwhite;
}

.grp-btn {
    margin-left: 25px;
    width: 100px;
}

.grp {
    margin: 10px;
}

.navbar-item {
    padding-left: 20px;
}

button {
    background-color: orange;
    border-color: orange; 
    color: white;
}

footer {
    border-top: 5px solid lightgray;
}


nav {
}

footer {
    height: 60px;
    padding-top: 10px;
}

main {
    min-height: calc(100vh - 116px);
}


@media screen and (min-width: 800px) {
    main {
        min-height: calc(100vh - 118px);
    }        
}


@media screen and (min-width: 720px) {
    .p-footer {
        font-size: 100%;
    }
}

@media screen and (min-width: 420px) {
    .p-footer {
        font-size: 90%;
    }
}

@media screen and (min-width: 320px) {
    .p-footer {
        font-size: 80%;
    }
}

@media screen and (max-width: 319px) {
    .p-footer {
        font-size: 70%;
    }
}

@media screen and (max-width: 250px) {
    .p-footer {
        font-size: 60%;
    }
}
