.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
.carousel-image {
    height: 400px;
    max-height: 400px;
}

main{
    margin: 10px;
}

.navbar-item {
    padding-left: 20px;
}

#caro-div {
    margin-top: 50px;
}


.search-widget {
    min-width: 100px;
    height: 60px;
}

button {
    background-color: orange;
    border-color: orange; 
    color: white;
}

footer {
    border-top: 5px solid lightgray;
}
