@media screen and (min-width: 480px) {
    .board {
        width: 60%;
        margin-top: 5px;
    }
}

@media screen and (max-width: 720px) {
    .board {
        width: 96%;
        margin-top: 5px;
    }
}

.navbar.navbar-default {
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}